.hidden {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: none;
}

body {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 0px;
  font-size: 70px;
  color: #D1122E;
}

form#login-form {
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #989898;
}

/* form#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -34px;
}

#todo-list p {
  margin-bottom: 5px;
}

p span {
  margin: 10px;
  left: 0px;
}

#quote {
  position: fixed;
  top: 820px;
  right: 100px;
  width: 800px;
  height: 500px;
  color: #737373;
}

#wish {
  position: fixed;
  top: 230px;
  right: 100px;
  width: 800px;
  height: 500px;
  color: #737373;
}

img {
  position: fixed;
  top: 260px;
  right: 400px;
  width: 500px;
  height: 500px;
  /* z-index: -1; */
}
